span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
p{
    color: rgb(13, 0, 128);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}